.jumbotron {
  
  
  color: blue;
  background-color: rgba(248, 243, 85, 0);
  opacity: .9;
  margin-top: 70px;
  margin-left: 280px;
  width: 55%;
}
body {
  background-image: url("../images/rockrollhf.jpg");
  background-repeat: no-repeat;
  background-position: cover;
  background-size: 100%;
  color: blue;
  font-size: 34px;
  font-family: 'Oswald', sans-serif;
}
#mainArea {
  margin-top:10px;
  max-width: 50%;
  margin-left: 320px;
  color: blue;
  font-size: 26px;
  height: 500px;;
}
h1, h2 {
  font-size: 36px;
  font-weight: 600;
  text-align: center;
}


.btn {
  width:275px;
  padding:15px;
  font-size: 20px;

}
.main-button-container {
  max-width: 450px;
  margin-left: auto;
  /* margin-right: auto; */
}


.timer-p {
  margin-top: 50px;
  font-size:34px;
}

p.text-center {
  font-size:34px;
  font-weight: 600;
}
.answer:hover {
  background: green;
}

p {
  font-size: 34px;
  font-weight: 600;
  
  
}
.answer {
  
  height: 55px;
  color: white;
  padding: 15px;
  background-color: blue;
  border-radius: 4px;
  opacity: .9;

}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
  font-size: 30px;
}

/* // Medium devices  */
@media (min-width: 768px) and (max-width: 1200px) {  
  body {
    background-image: url("../images/rockrollhf.jpg");
    background-repeat: repeat;
    text-align: center;
  }
  
   .answer {
    margin-top: 34px;
    width:110%;
    text-align: left;
   
    
  }
  
  h1, h2 {
    font-size: 36px;
    font-weight: 600;
  }
  
  p {
    font-size: 26px;
    font-weight: 600;
  }
  
  .btn {
    width:100%;
  }
  .jumbotron, #mainArea, .main-button-container {
    margin: auto;
    width: 100%;
    color: blue;
    text-align: center;
    font-size: 28px;
  
  } 
}


/* // Small devices  */
@media (min-width: 576px) and (max-width: 767px) {  
body {
  background-image: url("../images/rockrollhf.jpg");
  background-repeat: repeat;
  text-align: center;
}

h1, h2 {
    font-size: 26px;
    font-weight: 600;
  }

p {
    font-size: 26px;
    font-weight: 600;
  }

  .answer {
  margin-top: 30px;
  width: 120%;
  text-align: left;
  
  
}
.btn {
  width:100%;
}
.jumbotron, #mainArea, .main-button-container {
  margin: auto;
  width: 100%;
  color: black;
  text-align: center;
  font-size: 22px;

} 
}

  /* // Extra small devices  */
@media (max-width: 575px) { 
  .jumbotron, #mainArea, .main-button-container {
    margin: auto;
    width: 80%;
    color: black;
    text-align: center;
    font-size: 18px;
  }
  
  .timer-p {
    margin-top: 70px;
    margin-bottom: 30px;
    font-size: 16px;
  }
  body {
    background-image: url("../images/rockrollhf.jpg");
    background-repeat: repeat;
    text-align: center;
    font-size: 18px;
  }

  h1, h2 {
    font-size: 32px;
    font-weight: 600;
  }

  p {
    font-size: 118px;
    font-weight: 600;
  }

  .answer {
    margin-top: 30px;
    width: 130%;
    text-align: left;
    font-size: 18px;
   

  }

 .btn {
    margin: auto;
    width: 130%;
    text-align: center;
    font-size: 18px;
  }
  .summary-correct {
    margin-top: 15px;
    font-size: 16px;
  
  }

  }
  

 